/* Auth.css
.auth {
  margin: 7rem auto;
  width: 85%;
  max-width: 30rem;
  padding: 0.8rem 1rem;
  text-align: center;
}

.inputRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 1300px) {
  .auth {
    width: 95%;
    padding: 0 2rem 2rem 2rem;
  }
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formFooter p {
  font-size: 0.9rem;
  text-align: left;
}

.formFooter .span {
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1rem;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #9b59b6;
  font-weight: 600;
}

.radio-label input {
  margin-right: 0.5rem;
}

.radio-label:hover {
  background-color: #f0f0f0;
}

input[type="radio"]:checked + .radio-label {
  background-color: #e0e0e0;
} */


._social_login_wrapper {
    padding: 100px 0px;
    background: var(--bg1);
    position: relative;
    z-index: 1;
}
._shape_one {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
._shape_two {
    position: absolute;
    top:0;
    right:20px;
    z-index: -1;
}
._shape_three {
    position: absolute;
    bottom:0;
    right: 327px;
    z-index: -1;
}
