@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --white: #FFFFFF;
  --black: #242424;
  --grey: #F3F3F3;
  --dark-grey: #6B6B6B;
  --red: #FF4E4E;
  --transparent: transparent;
  --twitter: #1DA1F2;
  --purple: #8B46FF;
}

.dark {
  --white: #242424;
  --black: #F3F3F3;
  --grey: #2A2A2A;
  --dark-grey: #E7E7E7;
  --red: #991F1F;
  --transparent: transparent;
  --twitter: #0E71A8;
  --purple: #582CBE;
}


@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 64px);
  }

  * {
    @apply m-0 p-0 box-border text-base outline-purple/30 duration-100;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply font-poppins antialiased font-normal text-black;
  }

  i {
    @apply mt-0.5;
  }

  section {
    @apply py-4 px-[3vw] md:px-[5vw] lg:px-[10vw];
  }

  .section {
    @apply py-4 px-[3vw] md:px-[5vw] lg:px-[10vw];
  }

  .dashboard-sidebar {
    @apply py-4 px-[3vw] md:px-[5vw] lg:px-[10vw];
  }

  .search-section {
    @apply py-4 px-[3vw] md:px-[5vw] lg:px-[10vw];
  }

  .editor-section {
    @apply py-4 px-[10vw] md:px-[15vw] lg:px-[20vw];
  }

  ::selection {
    @apply bg-purple/30;
  }

  img {
    @apply w-full h-full object-cover;
  }

  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] h-[80px] border-b border-grey bg-white;
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .center {
    @apply block mx-auto;
  }

  .btn-dark {
    @apply whitespace-nowrap bg-black text-white rounded-full py-2 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-light {
    @apply whitespace-nowrap bg-white text-black rounded-full py-2 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-grey {
    @apply whitespace-nowrap bg-grey text-black rounded-full py-2 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-grey.active {
    @apply bg-dark-grey text-white;
  }

  .btn-dark:disabled,
  .btn-dark:hover:disabled,
  .btn-dark:active:disabled {
    @apply bg-[#ccc] text-[#979797] border-[#ccc] cursor-not-allowed;
  }

  .btn-light:disabled,
  .btn-light:hover:disabled,
  .btn-light:active:disabled {
    @apply bg-[#ccc] text-[#979797] border-[#ccc] cursor-not-allowed;
  }

  .input-box {
    @apply w-[100%] rounded-md p-4 bg-grey pl-12 border border-grey focus:bg-transparent placeholder:text-black;
  }

  .input-box-tag {
    @apply w-[100%] rounded-md p-4 bg-white pl-12 border border-grey focus:bg-transparent placeholder:text-black;
  }
  .input_label {
    @apply text-xl font-medium;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }
  input::placeholder {
    @apply opacity-50 font-semibold;
  }

  .invalid-input label,
  .invalid-input p {
    @apply text-red;
  }

  .invalid-input input,
  .invalid-input textarea {
    @apply border-red bg-[#ffd1d1];
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2 opacity-75;
  }

  .input-icon-left {
    @apply absolute left-4 top-1/2 -translate-y-1/2 opacity-75;
  }

  .input-icon-right {
    @apply absolute right-4 top-1/2 -translate-y-1/2 opacity-75;
  }

  .link {
    @apply text-dark-grey hover:text-black hover:bg-grey p-3 px-4 block opacity-75;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 text-dark-grey hover:text-black;
  }

  .sidebar-link.active {
    @apply text-black border-r-2 border-black pl-6 bg-grey/100 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
  }

  .dashboard-link {
    @apply flex gap-4 items-center py-5 text-dark-grey hover:text-black;
  }

  .dashboard-link:hover,
  .dashboard-link.active {
    @apply pl-4 rounded-xl bg-grey transition-all duration-500;
  }

  #textEditor h2,
  h2 {
    @apply font-inter text-4xl leading-normal font-bold max-md:text-3xl max-md:leading-snug !important;
  }

  #textEditor h3,
  h3 {
    @apply font-inter text-3xl leading-loose max-md:text-2xl max-md:leading-normal !important;
  }

  #textEditor *,
  .blog-page-content * {
    @apply font-gelasio text-xl leading-10 md:text-2xl;
  }

  #textEditor a,
  .blog-page-content a {
    @apply text-purple underline hover:opacity-50;
  }

  .tag {
    @apply p-3 bg-grey rounded-full px-6 capitalize;
  }

  .blog-title {
    @apply text-2xl font-medium leading-7 line-clamp-3 sm:line-clamp-2;
  }

  .blog-index {
    @apply text-4xl sm:text-3xl lg:text-5xl font-bold text-grey leading-none;
  }
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 900px;
}

.cdx-settings-button[data-tune="withBorder"],
.cdx-settings-button[data-tune="withBackground"],
.cdx-settings-button[data-tune="stretched"] {
  display: none;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #3d0264;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  --max-width: 1100px;
  --border-radius: 12px;

  /* margin: 0; */
  /* background-color: var(--color-grey-50); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/39/wdXqHcTwSTmLuKOGz92L_Landscape.jpg?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww"); */
  /* background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
  /* color: #535c68; */
  font-family: "Open Sans", "Lato", sans-serif;
}

:root {
  --primary: #414141;
  --secondary: #972dc2;
  --tertiary: #18e0d0;
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: var(--secondary) var(--primary);
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
